h1{
    color: white;
    text-align: center;
    text-shadow: -2px 2px orange;
}

body{
    background-color: black;
}

p{
    color: orange;
}

h2{
    color: white;
}

ul{
    color: white;
}

ol{
    color: white;
}
